<% include ./partials/header %>
    <main>

        <section id="dish-boxes">
            <div class="dish-container">

                <div class="dish">
                    <img class="image-dish" src="img/BUN DAU MAM TOM.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Bun Dau Mam Tom
                        </h4>
                        <h4 class="btn">
                            7€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>


                <div class="dish">
                    <img class="image-dish" src="img/BANH BOT LOC.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Banh Bot Loc
                        </h4>
                        <h4 class="btn">
                            6€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>


                <div class="dish">
                    <img class="image-dish" src="img/BUN RIEU OC.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Bun Rieu Oc
                        </h4>
                        <h4 class="btn">
                            6.50€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>



                <div class="dish">
                    <img class="image-dish" src="img/KEM TRAI DUA.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Kem Trai Dua
                        </h4>
                        <h4 class="btn">
                            5€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>



                <div class="dish">
                    <img class="image-dish" src="img/BUN CHA CA.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Bun Cha Ca
                        </h4>
                        <h4 class="btn">
                            8€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>


                <div class="dish">
                    <img class="image-dish" src="img/CHE.jpg" alt="Dish">
                    <div class="dish-body">
                        <h4 class="btn">
                            Che
                        </h4>
                        <h4 class="btn">
                            3.50€
                        </h4>
                        <h4 class="btn">
                            scharf
                        </h4>
                    </div>
                </div>

            </div>

        </section>
    </main>
    <% include ./partials/footer %>