
        <% include ./partials/header %>
        <main>
            <div class="container" id="container">
                        <h1> Impressum</h1>

<h2>Angaben gemäß § 5 TMG</h2>
<p>E & T GmbH<br />
Kanstr. 23<br />
10623 Berlin</p>

<p><strong>Vertreten durch:</strong><br />

Thanh Thuy Vu<br />
Yevheniia Vostres</p>

<h2>Kontakt</h2>
<p>Telefon: (49)155-5678-5555<br />
E-Mail: contact@etrestaurant.de</p>
                  <p>
* Die Webseite stellt das Prüfungsprojekt im Fach Webrechnologien im SoSe 2019 an der HTW Berlin dar.<br />
Studentinen:<br />
Thanh Thuy Vu, 566770<br />
Yevheniia Vostres, 566769
</p>
            </div>
        </main>
        <% include ./partials/footer %>